<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>rank</title>

    <style>

  {
    margin= 0;
    padding= 0;

}
    body {

    margin = 0;
     background-color: #F6F6F6;
    }
    .container{
    display:grid;
    grid-template-columns:0.7fr 3fr 2fr 0.7fr;
    grid-template-rows:1fr 1fr;
    gap:10px;
    width: 100%;
    max-width:1127;
    margin: 0 auto;
    background: #F6F6F6;

    }

    .item0{
    margin-bottom:10px;

    }
    .item1{
    grid-column:1;
    grid-row:1/3;
    background: #F6F6F6;

    }

    .item2{
    grid-column:2;
    background: #FFFFFF;
    padding:15px;
    }

    .item2title{
    font-size: 16px;
    margin:10px;
    }
    .item2main{
    justify-items:center;
    padding:20px 20px 0px 10px;
    display:flex;
    flex-wrap:wrap;
    }



    .item3{
    grid-column:3;
    background: #FFFFFF;
    padding:15px;

    }


    .item4{
    grid-column:4;
    grid-row:1/3;
    background: #F6F6F6;
    }
     .item5{
     background:#F6F6F6;
    grid-column:1/5;
    grid-row:2;
    padding:15px;
    }
    .dbdb{
    margin:10px;
    margin-down:30px;
    }
    .item5img{
    margin:10px;
    }
    .item5text{
    padding:10px;
    background: #FFFFFF;
    }
    .texttitle{
    font-size:15px;
    font-weight:700;
    }
    .textnomal{
    font-size:12px;
    }
    .b700{
    font-weight:700;
    margin:10px;
    }
    .dbbox{
    margin:20 20 20 50;

    }

    </style>
</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/pizza/indexgo}">피자서치</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="navbar-toggler-icon"></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/pizza/indexgo}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="item0">
    <img th:src="@{/images/일러스트 로고.png}"  width="100%">
</div>
</div>

<ul class="nav nav-tabs" style="text-align:center; padding-left:23.8%">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" th:href="@{/pizza/indexgo}"}>Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:href="@{/pizza/good}">피자랭킹</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"th:href="@{/pizza/bad}">공사중</a>
    </li>

</ul>
<div class="container">

    <div class="item1"></div>
    <div class="item2">
        <div class ="intem2title"><h1 class="b700" style="font-size:20px;">토핑으로 검색하기</h1></div>

        <form action="/pizza/check" method="post">
        <div class="item2main">

            <div class="card" style="width: 26%; margin-right:15px;">
                <img th:src="@{/images/페페로니.png}" class="card-img-top" alt="..."  >
                <div class="card-body">
                    <label for="peperoni"><b>페페로니</b></label>
                    <input class="input1" type="checkbox" name="checked"   value="2" id="peperoni" >
                    <input type="hidden" name="_peperoni" value="on"/>
                </div>
            </div>
            <div class="card" style="width: 26%; margin-right:15px;">
                <img th:src="@{/images/고기.png}" class="card-img-top" alt="...">
                <div class="card-body">
                    <label for="meat"><b>고기</b></label>
                    <input class="input1" type="checkbox" name="checked"   value="1" id="meat" >
                    <input type="hidden" name="_meat" value="on"/>
                </div>
            </div>
            <div class="card" style="width: 26%; margin-right:15px;">
                <img th:src="@{/images/고구마.png}" class="card-img-top" alt="...">
                <div class="card-body">
                    <label for="sweetpotato"><b>고구마</b></label>
                    <input class="input1" type="checkbox" name="checked"    value="6" id="sweetpotato">
                    <input type="hidden" name="_sweetpotato" value="on"/>
                </div>
            </div>
            <div class="card" style="width: 26%; margin-right:15px;">
                <img th:src="@{/images/새우.png}" class="card-img-top" alt="...">
                <div class="card-body">
                    <label for="shrimp"><b>새우</b></label>
                    <input class="input1" type="checkbox" name="checked"    value="5" id="shrimp" >
                    <input type="hidden" name="_shrimp" value="on"/>
                </div>
            </div>
            <div class="card" style="width:26%; margin-right:15px;">
                <img th:src="@{/images/파인애플.png}" class="card-img-top" alt="...">
                <div class="card-body">
                    <label for="pineapple"><b>파인애플</b></label>
                    <input class="input1" type="checkbox" name="checked"   value="4" id="pineapple" >
                    <input type="hidden" name="_pineapple" value="on"/>
                </div>
            </div>
            <div class="card" style="width: 26%; margin-right:15px;">
                <img th:src="@{/images/감자.png}" class="card-img-top" alt="...">
                <div class="card-body">
                    <label for="potato"><b>감자</b></label>
                    <input class="input1" type="checkbox" name="checked"    value="3" id="potato">
                    <input type="hidden" name="_potato" value="on"/>
                </div>
            </div>


        </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit" style="background-color:#F6F6F6; margin:15px; color:black;"><b>토핑으로 검색하기</b></button>
            </div>
        </form>

    </div>        <!--아이템2끝  -->



    <div class="item3">

        <div class="text border">
            <div class="texttitle">
            현재 등록되어있는 DB
            </div>
        </div>

        <div class="dbbox">
            <img th:src="@{/images/지원하는 DB.png}" width="100%">
        </div>


    </div>
    <div class="item4"></div>
    <div class="item5">
        <div class="item5img" >
            <img th:src="@{/images/푸터로고.png}" width="100%" >
            </div>
        <div class="dbdb">
        <div class="text border">
            <div class="texttitle">
                현재 등록되어있는 DB:도미노피자,미스터피자,피자알볼로,피자스쿨
            </div>
        </div>
        </div>
        <div class="item5text">
            <div class="text border">
                <div class="texttitle">
                    피자스쿨 DB 추가
                </div>
            </div>
            <div class="textnomal">
                2022.04.13
            </div>

            <div class="text border">
                <div class="texttitle">
                    피자알볼로 DB 추가
                </div>
            </div>
            <div class="textnomal">
                2022.04.12
            </div>

            <div class="text border">
                <div class="texttitle">
                    미스터피자 DB 오류수정
                </div>
            </div>
            <div class="textnomal">
                2022.04.12
            </div>


            <div class="text border">
                <div class="texttitle">
                    미스터피자 DB 추가(현재 이미지 오류-수정예정)
                </div>
            </div>
            <div class="textnomal">
                2022.04.11
            </div>

            <div class="text border">
                <div class="texttitle">
                도미노피자 DB 추가
                </div>
            </div>
            <div class="textnomal">
                2022.04.09
            </div>
        </div>
    </div>


</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>